In [1]:
import pandas as pd
import matplotlib as plt
import sklearn

In [ ]:
dataset = pd.read_csv('mlb_payrolls.csv')
print(dataset.head())

<bound method DataFrame.info of     Team            Team Name  Year  Average Age Total Payroll Allocations  \
0    OAK    Oakland Athletics  2024         26.5               $62,132,581
1    PIT   Pittsburgh Pirates  2024         27.7               $84,050,989
2     TB       Tampa Bay Rays  2024         26.8               $89,707,422
3    DET       Detroit Tigers  2024         26.0               $96,961,614
4    CLE  Cleveland Guardians  2024         26.3              $105,224,582
..   ...                  ...   ...          ...                       ...
415  MIN      Minnesota Twins  2011         27.4              $114,445,627
416  NYM        New York Mets  2011         28.7              $142,245,841
417  BOS       Boston Red Sox  2011         28.9              $170,490,761
418  CHC         Chicago Cubs  2011         28.1              $137,666,584
419  NYY     New York Yankees  2011         29.5              $210,950,685

    Active 26-Man      Injured     Retained       Buried  Wins  Losses  \
0     $28,956,713  $15,581,092  $15,557,073   $1,763,221    69      93
1     $51,220,210  $14,524,211  $15,341,351   $2,965,217    76      86
2     $37,691,876  $13,179,262  $34,675,167   $1,706,572    80      82
3     $33,226,992  $26,677,166  $36,920,494   $1,070,295    86      76
4     $50,885,032  $21,120,833  $22,945,837  $10,272,880    92      69
..            ...          ...          ...          ...   ...     ...
415  $107,337,033            -   $7,108,594            -    63      99
416   $96,577,418            -  $45,668,423            -    77      85
417  $162,455,090            -   $8,239,278            -    90      72
418  $123,941,584            -  $13,725,000            -    71      91
419  $210,950,685            -            -            -    97      65

          Postseason
0        No Playoffs
1        No Playoffs
2        No Playoffs
3           Wildcard
4    Division Winner
..               ...
415      No Playoffs
416      No Playoffs
417      No Playoffs
418      No Playoffs
419  Division Winner

[420 rows x 12 columns]>